/* 테이블 스타일링 */
body {
  margin: 50px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.table-wrapper {
  text-align: center;
  .table-styling {
    width: 100%;
    height: 500px;
    border-collapse: collapse;
    tbody {
      tr:nth-child(even) {
        background-color: lightgray;
      }
    }
    thead,
    tfoot {
      background: black;
      color: white;
    }
  }
}
