body {
  font-family: sans-serif;
  background-color: #f9fafb;
  text-align: center;
  margin-top: 100px;
}

.container {
  padding: 20px;
}

button {
  background-color: #ff9900;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  color: white;
}

button:hover {
  background-color: #e68a00;
}
